<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>RailsBasicTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= subscribe_to "/comments/new" %>
  <!-- <base href="/"> -->
</head>
<body ng-view>
</body>
</html>
